<body>


    <!-- about -->
    <div class="about">
        <div class="container">
            <div class="about-grids">
                <div>
                    <div class="about-grd-rgt-grids">
                        <div class="about-grd-rgt-grid">
                            <div class="box maxheight">


                                <img src="./assets/nivethak.JPG" width="200" height="300">
                            </div>
                        </div>



                    </div>
                    <h3>About Nive</h3>
                    <div class="line">
                    </div>
                    <p class="aut">Hi.. I'm Nivetha Kamal </p>




                </div>
            </div>
        </div>
    </div>
</body>
< <!-- //about -->